@import url("https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&family=Love+Ya+Like+A+Sister&display=swap");
@import "tailwindcss";

/* :root {
  --font-cabin: "Cabin Sketch", sans-serif;
}

body {
  font-family: var(--font-cabin);
} */
@theme {
  --font-cabin: "Cabin Sketch", sans-serif;
  --font-love: "Love Ya Like A Sister", sans-serif;
}

/* @media (max-height: 950px) {
  h1 {
    top: 6%;
  }
}
@media (max-height: 916px) {
  h1 {
    top: 3.5%;
  }
}
@media (max-height: 883px) {
  h1 {
    top: 2.5%;
  }
}
@media (max-height: 850px) {
  h1 {
    top: 0%;
  }
} */

@media(min-width: 320px){
h1 {
  top: 17%;
}
}
@media(min-width: 767px), (max-height: 883px) {
  h1{
    top:10%;
  }

}
@media(min-width: 1280px), (max-height: 950px){
  h1{
    top: 10%;
  }
}